.body {
    background-color: #1b1f22;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    margin-left: -8px;
    height: 126px;
}
.nav {
    text-align: center;
    margin-top: 6px;
}

.anch {
    font-size: 3rem;
    text-decoration: none;
    color: purple;
    font-family: Verdana; 
    margin: 50px;
    
}

.gA {
    text-decoration: none;
}

.title {
    text-align: center;
    font-size: 2.5rem;
    color: darkcyan;
    margin-top: 10px;
}
.imgDiv {
    display: flex;
    margin-top: 140px;
}

.pic {
    height: 250px;
    width: 250px;
    margin: 0 auto;
    margin-top: -13px;
}

.parallax1 {
    /* The image used */
  background-image: url("./images/water-lily-2334209.jpg");

  /* Set a specific height */
  height: 600px;
  width: 102%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -14px;
  margin-left: -8px;
}

.fstPara {
    color: white;
    font-size: 1.25rem;
    text-align: center;
}

.scroll {
    font-size: 1.5rem;
    color:greenyellow;
    text-align: center;
    font-family: Georgia;
}

.parallax2 {
    background-image: url("./images/indra-dewa-g-CfYCT1kM0-unsplash.jpg");

  /* Set a specific height */
  height: 650px;
  width: 102%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -8px;
}

.introP {
    color: black;
    font-size: 1.25rem;
    background-color: white;
    padding: 0;
    width: 50%;
    align-self: center;
    
}

.introP1 {
    margin-top: 800px;
    
}

.opa {
    opacity: .8;
}

.introA {
    text-decoration: none;
    color: darkturquoise;
    background-color: transparent;
}

.form {
    margin-top: 150px;
    color: white;
    font-size: 1.25rem;

}

.formDiv {
    display: flex;
    justify-content: center;
}

.btnFlex {
    display: flex;
    flex-direction: column;
    width: 100px;
}

.btn1 {
    background-color: darkviolet;
}

.btn2 {
    background-color: firebrick;
}
.form label {
    font-size: 2rem;
}

.aboutsecdiv {
    margin-top: 136px;
    display: flex;
    flex-direction: column;

}

.techpic {
    width: 100%;
}

.aboutsec {
    margin: 0 auto;
    width: 50%;
    font-size: 1.25rem;    
    color: white;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.worksection {
    margin-top: 172px;
    color: white;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
}

.workp {
    width: 50%;
}

.workpic {
    width: 29rem;
    height: 20rem;
}

.workdivwrapper1 {
    display: flex;
    justify-content: center;
}

.workdivwrapper2 {
    display: flex;
    justify-content: center;
}

.workdiv {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.workpicp {
    font-size: 1rem;
    color: white;
}

.contactfooter {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    text-align: center;
}

@media only screen and (max-width: 350px) {
    .dA {
        font-size: 1.2rem;
    }
    .title {
        font-size: 2rem;
    }

    .pic {
        display: none;
    }
    .last {
        font-size: 1.2rem;
    }
    .sticky {
        background-color: black;
        margin-left: -8px;
        height: 350px;
        position: relative;
        width: 108%;
    }
    .form {
        width: 95%;
    }
    .nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        

    }
    .anch {
        width: 100%;
        margin: 0;
        border: 1px solid white;
    }
    .parallax1 {
        width: 104%;
        margin-top: -139px;
    }
    .parallax2 {
        height: 1580px;
        width: 104%
    }

    .introP {
        width: 75%;
    }
    .aboutsec {
        width: 85%;
        margin-top: -96px;
    }
    .workp {
        width: 85%;
        margin-top: -100px;
    }
    .workdivwrapper1 {
        flex-direction: column;
        align-items: center;
    
    }
    .workdivwrapper2 {
        flex-direction: column;
        align-items: center;
    }
    .workpic {
        height: 14rem;
        width: 18rem;
    }
    .workdiv {
        margin-left: 30px;
    }
    .br1 {
        display: none;
    }
    .br2 {
        display: none;
    }
    .br3 {
        display: none;
    }
    
}

@media only screen and (max-width: 400px) and (min-width: 350px) {
    .pic {
        display: none;
    }
    .sticky {
        background-color: black;
        margin-left: -8px;
        height: 350px;
        position: relative;
        width: 104%;
    }
    .nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        

    }
    .title {
        font-size: 2rem;
    }
    .techpic {
        margin-top: -96px;
    }
    .anch {
        width: 100%;
        margin: 0;
        border: 1px solid white;
    }
    .parallax1 {
        width: 104%;
        margin-top: -139px;
    }
    .parallax2 {
        height: 1580px;
        width: 104%
    }

    .introP {
        width: 75%;
    }
    .aboutsec {
        width: 85%;
        
    }
    .workp {
        width: 85%;
        margin-top: -100px;
    }
    .workdivwrapper1 {
        flex-direction: column;
        align-items: center;
    }
    .workdivwrapper2 {
        flex-direction: column;
        align-items: center;
    }
    .workpic {
        height: 14rem;
        width: 18rem;
    }
    .workdiv {
        margin-left: 30px;
    }
    .br1 {
        display: none;
    }
    .br2 {
        display: none;
    }
    .br3 {
        display: none;
    }
    
}

@media only screen and (max-width: 500px) and (min-width: 400px) {
    .pic {
        display: none;
    }
    .sticky {
        background-color: black;
        margin-left: -8px;
        height: 350px;
        position: relative;
        width: 104%;
    }
    .nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        

    }
    .anch {
        width: 100%;
        margin: 0;
        border: 1px solid white;
    }
    .parallax1 {
        width: 104%;
        margin-top: -139px;
    }
    .parallax2 {
        height: 1580px;
        width: 104%
    }

    .introP {
        width: 75%;
    }
    .aboutsec {
        width: 85%;
    }
    .workp {
        width: 85%;
        margin-top: -100px;
    }
    .workdivwrapper1 {
        flex-direction: column;
        align-items: center;
    }
    .workdivwrapper2 {
        flex-direction: column;
        align-items: center;
    }
    .workpic {
        height: 17rem;
        width: 23rem;
    }
    .workdiv {
        margin-left: 30px;
    }
    .br1 {
        display: none;
    }
    .br2 {
        display: none;
    }
    .br3 {
        display: none;
    }
    .techpic {
        margin-top: -96px;
    }
    
  }

  @media only screen and (max-width: 650px) and (min-width : 500px) {
      .sticky {
          position: relative;
      }
    .nav {
        display: flex;
        justify-content: center;
    }
    .anch {
        font-size: 1.5rem;
        margin: 24px;
    }
    .title {
        font-size: 1.5rem;
    }
    .pic {
        display: none;
    }
    .parallax1 {
        margin-top: -140px;
    }
    .parallax2 {
        height: 1580px;
    }
    .aboutsec {
        width: 85%;
    }
    .workp {
        width: 85%;
        margin-top: 0px;
    }
    .workdivwrapper1 {
        flex-direction: column;
        align-items: center;
    }
    .workdivwrapper2 {
        flex-direction: column;
        align-items: center;
    }
    .workpic {
        height: 20rem;
        width: 30rem;
    }
    .workdiv {
        margin-left: 30px;
    }
    
  }

  @media only screen and (max-width: 800px) and (min-width : 650px) {
    .sticky {
        position: relative;
        width: 101%;
    }
    .nav {
        display: flex;
        justify-content: center;
        margin-top: -16px;
    }
    .anch {
        font-size: 2rem;
        margin: 30px;
    }
    .title {
        font-size: 1.5rem;
        margin-top: -10px;
    }
    .imgDiv {
        margin-top: 0px;
    }
    
    .parallax2 {
        height: 1580px;
    }
    .aboutsec {
        width: 85%;
    }
    .workp {
        width: 85%;
        margin-top: 0px;
    }
    .workdivwrapper1 {
        flex-direction: column;
        align-items: center;
    }
    .workdivwrapper2 {
        flex-direction: column;
        align-items: center;
    }
    .workpic {
        height: 20rem;
        width: 30rem;
    }
    .workdiv {
        margin-left: 30px;
    }
    
    
  }

  @media only screen and (max-width: 950px) and (min-width : 800px) {
      .sticky {
          width: 101%;
      }
    .nav {
        display: flex;
        justify-content: center;
        margin-top: -16px;
    }
    .anch {
        font-size: 2.25rem;
        margin: 30px;
    }
    .title {
        font-size: 2rem;
        margin-top: -10px;
    }
    
    .parallax2 {
        height: 1580px;
    }
    .workpic {
        height: 18rem;
        width: 22rem;
    }
    .workdiv {
        margin-right: 20px;
        margin-left: 20px;
    }
    .br1 {
        display: none;
    }
    .br2 {
        display: none;
    }
    .br3 {
        display: none;
    }


  }

  @media only screen and (min-width : 950px) {
    .nav {
        display: flex;
        justify-content: center;
        margin-top: -16px;
    }
    .anch {
        font-size: 2.75rem;
        margin: 30px;
    }
    .title {
        font-size: 2rem;
        margin-top: -10px;
    }
    
    .parallax2 {
        height: 1200px;
    }
  }
